<% post_images.each do |post_image| %>
<!--この部分テンプレートファイルには、インスタンス変数（@post_images）が使われています。
部分テンプレートファイル内でインスタンス変数を利用すると、controller側でインスタンス変数の名前や挙動を変更したとき、部分テンプレート側も変更しなければいけません。
これでは、再利用しにくいテンプレートになってしまいますね。

部分テンプレートが呼び出されたときに、Viewから渡される変数が使えるように変更します。この変数には、======>     ローカル変数を使います。-->

<div>
  <%= link_to post_image_path(post_image.id) do %>
  <%= attachment_image_tag post_image, :image %>
  <% end %>
  
  
  <p>投稿ユーザー画像：<%= attachment_image_tag post_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %></p>
  <!--%= attachment_image_tag 保存先インスタンス名, :保存先カラム名, :サイズ（横幅,高さ）, 画像拡張子, 代替画像 %-->
  <!--post_image======>画像の保存先カラムのあるインスタンス名を指定します。今回は、userモデルが画像を保存しているので、@userです。-->
  
  <!--:profile_image=====>画像の保存先のカラム名を指定します。【注意】実際のカラムは「profile_image_id」ですが、_idを外したカラム名（profile_image）で指定します（refileの仕様）。-->
  
  <!--:fill===========>画像の縦横サイズを指定します。単位はpxです。今回は「:fill, 100, 100, 」で指定したので、横幅100px、高さ100pxになります。-->
  <!--【注意】サイズ指定で画像が表示されない場合は、:fillによるサイズ指定ではなく、size:で指定してください。この際、×（かける）ではなく、x（小文字のエックス）になりますので注意しましょう。-->
  
  
  <p>ショップ名：<%= post_image.shop_name %></p>
  <p>説明：<%= post_image.caption %></p>
  <p>ユーザーネーム：<%= post_image.user.name %></p>
  <p><%= link_to "#{post_image.post_comments.count} コメント", post_image_path(post_image.id) %></p>
</div>
<% end %>

<%= paginate post_images %>
部分テンプレートが呼び出されたときに、Viewから渡される変数が使えるように変更します。この変数には、======>     ローカル変数を使います